[data-cellnode-karel]:after
{
 content: "";
 position: relative;
 display: block;
 background: yellow;
 width: 50px;
 height: 50px;
 left: 55px;
 top: 65px;
 z-index: 10;
 border-radius: 10px;
 border: black 10px solid;
}

[data-cellnode-black] {
 background: url("../../images/hex_black.svg");                     
}

[data-cellnode-red] {
 background: url("../../images/hex_red.svg");
}

[data-cellnode-blue] {
  background: url("../../images/hex_blue.svg");
}
