[data-cellnode-blurbsky-vesmirny-kriznik]:after,
[data-cellnode-m1]:after,
[data-cellnode-m2]:after
{
 content: "";
 position: relative;
 display: block;
 background: url("../../images/Ant.svg") center center no-repeat; 
 width: 150px;
 height: 150px;
 left: 11px;
 top: 20px;
 z-index: 10;
 border-radius: 10px;
}

[data-cellnode-m2]:after {
 background: blue;
}

[data-cellnode-black] {
 background: url("../../images/hex_black.svg");                     
}
