[data-cellnode-blurbsky-vesmirny-kriznik]:after {
 content: "";
 position: relative;
 display: block;
 background: red;
 width: 50px;
 height: 50px;
 left: 65px;
 top: 65px;
 z-index: 10;
 border-radius: 10px;
}

[data-cellnode-black] {
 background: url("../../hex_black.svg");                     
}