@namespace "";
@namespace html "http://www.w3.org/1999/xhtml";

html|body {
}
row {
 display: block;
 height: calc(.25*150px);
 width: intrinsic; /* Safari */
 width: -moz-max-content; /* Gecko */
 width: -webkit-max-content; /* Webkit */
 overflow: visible;
 font-size: 0;
 margin: 0;
 padding: 0;
 transform: scale(.25);
 transform-origin: 0 0;
 -moz-transform: scale(.25);
 -moz-transform-origin: 0 0;
 -webkit-transform: scale(.25);
 -webkit-transform-origin: 0 0;
}
row:nth-child(2n-1) {
 position: relative;
 left: calc(.25*86.6025404px);
}
cell {
 display: inline-block;
 margin: 0;
 padding: 0;
 height: 200px;
 width: 173.2050808px;
 background: url("./hex.svg");
}
